body {
  margin: 0;
  padding: 0;
  background: #9F62CC;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 18px;
  font-family: 'Segoe UI', sans-serif;
}

.container {
  position: relative;
  cursor: pointer;
}

.amplop {
  position: relative;
  width: 500px;
  height: 400px;
}

.gambar-amplop {
  width: 100%;
  z-index: 1;
}

.gambar-love {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.kertas {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 270px;
  height: 0;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  transform: translate(-50%, -50%);
  transition: height 1s ease, top 1s ease;
  z-index: 0;
  padding: 0 10px;
}

.kertas.muncul {
  height: 200px;
  top: -30px;
  padding: 20px;
}

/* Partikel love */
#partikel-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.partikel-love {
  position: absolute;
  top: -30px;
  font-size: 50px;
  animation: jatuh 5s linear forwards;
}

@keyframes jatuh {
  to {
    transform: translateY(100vh);
    opacity: 0;
  }
}
